<!-- Footer del Sitio -->

<footer class="footer">
    <div class="top-footer">
        <div class="contacto">
            <p class="texto-contacto">¿Tenés alguna duda? ¡Contactate con nosotros!</p>
            <p class="datos-contacto">Tel. <span class="numero-telefono">+54 911 1234-5678</span> / Email: <span
                    class="email">info@reegalo.com.ar</span></p>
        </div>
        <div class="contacto-small">
            <div>
                <p class="texto-contacto-small">¿Tenés alguna duda?</p>
                <p class="texto-contacto-small">¡Contactate con nosotros!</p>
            </div>
            <p class="datos-contacto-small">Tel. <span class="numero-telefono">+54 911 1234-5678</span> / Email:
                <span class="email-footer">info@reegalo.com.ar</span></p>
        </div>
        <nav class="bottom-navigation">
            <a href="/">Home</a>
            <!-- <a href="#">Idioma</a> -->
            <a href="/preguntasFrecuentes">Ayuda</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </div>
    <div class="bottom-footer">
        <div class="social-media">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/?lang=ES" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="container-logo-footer">
            <img src="/images/logo-reegalo-footer.png" alt="Reegalo" class="logo-footer">
        </div>
        <div class="container-mercadopago-footer">
            <img src="/images/pago-seguro.png" alt="Pago Seguro" class="pago-seguro">
            <img src="/images/mercado-pago.png" alt="=Mercadopago" class="mercadopago">
        </div>
    </div>
</footer>